
p{color:black;}
main, header, footer{
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  color: red;
}

.gubbs-logo {
  width: 10%;
}
footer{
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    padding-top: 1rem;
}
footer{
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    padding-top: 1rem;
}