* {
    --bakgrund: #1c1c20;
    --text: #ffffff;
    --primar: #4CAF50;
    --sekundar: #2196F3;
    --hover: #45a049;
}
body {
    background-color: var(--bakgrund);
    color: var(--text);
}

p{color:rgb(235, 225, 225);}
main, header, footer{
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  color: red;
}

.gubbs-logo {
  width: 10%;
}
footer{
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    padding-top: 1rem;
}
footer{
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    padding-top: 1rem;
}